<h1>Products</h1>
<table border="2px" [cellPadding]="10" [cellSpacing]="0">
    <thead>
        <tr>
            <th>Names</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name | uppercase }}</td>
            <td [ngStyle]="{'color':product.price<2000 ? 'green':'red'}">{{product.price |currency}}</td>
            <td [ngClass]="{'green':product.rating>4,'plum':product.rating<2, 'pink':product.rating>2&&product.rating<4}">
                {{product.rating}}
            </td>

        </tr>
    </tbody>
</table>
 
<h1>{{newDate | date:'dd-MM-yy'}}</h1>

<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<select >
    <option *ngFor="let state of states">{{state}}</option>
</select>

<p *ngIf="isVisible">Happy Learning</p>
<p *ngIf="!isVisible">Welcome to Angular Class</p>