<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="welcome">Welcome</h3>
        <h3 routerLink="binding">Data Binding</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="rectangle">Rectangle</h3>
        <h3 routerLink="circle">Circle</h3>
        <h3 routerLink="bmi">BMI</h3>
        <h3 routerLink="emical">EMI Calculator</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="employees">Employees</h3>
        <h3 routerLink="employees flipkart">Employee Flipkart </h3>
        <hr>
        <button routerLink="/login">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>