<!-- <div class="container">
    <input 
      type="text"
      placeholder="Search Students"
      [(ngModel)]="searchTerm"
      (input)="searchStudents()"
      class="form-control mb-3"
    />
  
    <div class="row">
      <div *ngFor="let student of filteredStudents" class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ student.name }}</h5>
            <p class="card-text">Age: {{ student.age }}</p>
            <p class="card-text">Grade: {{ student.grade }}</p>
            <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->